<div class="container">
  <h1>Edit <%= @task.title %></h1>
  <%# <form action="/restaurants" method="post">
    <input type="text" name="parmater_name">
  </form> %>
  <% if @task.errors.any? %>
    <% @task.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <%= render 'tasks/form' %>
</div>


